@charset "UTF8";

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black url("../images/clouds-full.jpg") top center no-repeat fixed;
    background-size: cover;
}

div#links{
    position: relative;
    left: 100%;
}

a>img{
    width: 50px;
    border-radius: 50px;
}

div{
    width: 375px;
    height: 800px;
    background: rgba(168, 79, 79, 0) url("images/frame-iphone.png") center center no-repeat fixed;
    background-size: 20%;
    position: absolute;
    left: 40%;
    top: 5%;
}

iframe{
    background-color: rgba(139, 80, 80, 0);
    width: 331px;
    height: 718px;
    position: relative;
    left: 6%;
    top: 7.1%;
    border-radius: 39px;

}