@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{ 
    background: black url("../images/clouds-full.jpg") top center no-repeat fixed;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
}

section#phone{
    position: absolute;
    background: url("../images/frame-iphone.png") center center no-repeat fixed;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#screen{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#social-media{
    text-align: right;
}

section#social-media img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(61, 25, 25, 0.377);    
    box-sizing: border-box;
}

section#social-media img:hover{
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    transition: transform 0.4s;
}


